.container_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
}
/*cards*/
.card1 {
  background-color: #10224a;
  border: 2px solid #ffcc00;
  border-radius: 45px;

  width: 325px;
  height: 451px;
}
.card2 {
  background-color: #10224a;
  border: 2px solid #ffcc00;
  border-radius: 45px;

  width: 325px;
  height: 451px;
}
.card3 {
  background-color: #10224a;
  border: 2px solid #ffcc00;
  border-radius: 45px;

  width: 325px;
  height: 451px;
}
/*regulando o tamanho das imagens*/
.card1-img {
  margin-top: -30px;
  height: 140px;
}
.card2-img {
  margin-top: -30px;
  height: 140px;
}
.card3-img {
  margin-top: -30px;
  height: 140px;
}
/*titulo dos cards*/
.card1-title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
  font-weight: bold;
  color: #eacd5a;
}
.card2-title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
  font-weight: bold;
  color: #eacd5a;
}
.card3-title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
  font-weight: bold;
  color: #eacd5a;
}
/*descrição dos cards*/
.card1-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card2-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card3-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1-text p {
  width: 90%;
  margin-top: -20px;
  text-align: center;

  color: white;
  font-size: 28px;
}
.card2-text p {
  width: 90%;
  margin-top: -20px;
  text-align: center;

  color: white;
  font-size: 28px;
}
.card3-text p {
  width: 90%;
  margin-top: -20px;
  text-align: center;

  color: white;
  font-size: 28px;
}
