body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Fundo azul com gradiente */
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
}

/* Logo */
.logo img {
  width: 450px;
  margin-bottom: 40px;
  max-width: 90%;
}
